/* font-family: 'Roboto', sans-serif; */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}
main {
  max-width: 600px;
  width: 100%;
}

main .calculator {
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 30px;
  margin-top: 30px;
}

main .calculator .sum {
  height: 200px;
  display: flex;
  justify-content: end;
  align-items: end;
}
main .calculator .sum p {
  margin-right: 15px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 60px;
  font-weight: bold;
}

main .calculator .main-calc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

main .calculator .main-calc .row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main .calculator .main-calc .row1 .ac {
  background-color: rgb(89, 86, 86);
  width: 276px;
  border-radius: 10px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(194, 194, 194);
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
}
main .calculator .main-calc .row1 .ac:hover {
  cursor: pointer;
  background-color: rgb(126, 125, 125);
  color: rgb(228, 228, 228);
}
main .calculator .main-calc .row1 .module {
  background-color: rgb(89, 86, 86);
  width: 130px;
  border-radius: 10px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(194, 194, 194);
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
}
main .calculator .main-calc .row1 .module:hover {
  cursor: pointer;
  background-color: rgb(126, 125, 125);
  color: rgb(228, 228, 228);
}
main .calculator .main-calc .row1 .division {
  background-color: rgb(232, 157, 6);
  width: 130px;
  border-radius: 10px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 45px;
  font-weight: bold;
  margin-right: 0px;
}
main .calculator .main-calc .row1 .division:hover {
  cursor: pointer;
  background-color: rgb(255, 182, 37);
}
main .calculator .main-calc .row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main .calculator .main-calc .row .number {
  background-color: rgb(89, 86, 86);
  width: 130px;
  border-radius: 10px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(194, 194, 194);
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
}
main .calculator .main-calc .row .number:hover {
  cursor: pointer;
  background-color: rgb(126, 125, 125);
  color: rgb(228, 228, 228);
}
main .calculator .main-calc .row .last {
  background-color: rgb(232, 157, 6);
  width: 130px;
  border-radius: 10px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin-right: 0px;
}
main .calculator .main-calc .row .last:hover {
  cursor: pointer;
  background-color: rgb(255, 182, 37);
}
main .calculator .main-calc .row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main .calculator .main-calc .row2 .zero {
  background-color: rgb(89, 86, 86);
  width: 266px;
  border-radius: 10px;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(194, 194, 194);
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
}
main .calculator .main-calc .row2 .zero:hover {
  cursor: pointer;
  background-color: rgb(126, 125, 125);
  color: rgb(228, 228, 228);
}
main .calculator .main-calc .row2 .comma {
  background-color: rgb(89, 86, 86);
  width: 130px;
  border-radius: 5px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(194, 194, 194);
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
}
main .calculator .main-calc .row2 .comma:hover {
  cursor: pointer;
  background-color: rgb(126, 125, 125);
  color: rgb(228, 228, 228);
}
main .calculator .main-calc .row2 .draw {
  background-color: rgb(232, 157, 6);
  width: 130px;
  border-radius: 5px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin-right: 0px;
}
main .calculator .main-calc .row2 .draw:hover {
  cursor: pointer;
  background-color: rgb(255, 182, 37);
}
